$banner-padding: 10px;

.app-install-banner {
    width: 100%;
    background: $white;
    box-shadow: 0 0 8px 0 $lighter-grey;
    z-index: 100;
    padding-top: $banner-padding;
    position: fixed;
    height: 120px;
    bottom: -132px;
    transition: bottom 1s ease;
    
    &.visible {
        bottom: -1px;

    }

    .table {
        width: 100%;
    }

    .vertical-top {
        vertical-align: top;
    }

    .app-logo {
        margin: 0 auto;
        vertical-align: middle;
        width: 60px;
    }

    .app-title {
        margin: 0 0 $banner-padding;
        font-size: 20px;
    }

    .app-install-banner__host-url {
        margin: 0;
        color: $lighter-grey;
        font-size: 12px;
    }

    .install-banner-close-btn {
        padding: $banner-padding/2 $banner-padding/2 $banner-padding $banner-padding;

        img {
            width: 10px;
            height: 10px;
        }
    }

    .app-install-btn {
        width: 40%;
        margin: $banner-padding $banner-padding $banner-padding auto;
        display: block;
    }

    .ios-text p {
        padding: 0 3px;
        font-size: 16px;
        margin: 0;
        color: $lighter-grey;

        &:first-child {
            padding-top: 8px;
        }
    }
}