#edit-menu {
    p {
        margin-bottom: 10px;
    }

    .menu-content a {
        color: $border-grey;
    }

    [data-btn-type="delete"] {
        position: absolute;
        bottom: 50px;
    }

    [data-btn-type="done"] {
        position: absolute;
        bottom: 0;
    }


}