.main-todo-list {

    margin-top: 2rem;

    .inline {
        width: 33%;

        &:nth-child(2) {
            text-align: center;

            color: $dark-grey;
        }

        &:last-child {
            text-align: right;

            color: $dark-grey;
        }
    }

    .text {
        display: inline-flex;
    }

    [data-done=true] {
        text-decoration: line-through;
    }

    .hashtags {
        position: absolute;
        right: 0;

        display: inline-flex;
    }

    .hashtag {
        font-size: 14px;
    }

    $priority-dot-size: 15px;

    .dot {
        margin-top: $priority-dot-size - 2px;
        width: $priority-dot-size;
        height: $priority-dot-size;
        border-radius: $priority-dot-size;

        &.urgent {
            background: red;
        }

        &.height {
            background: $firefox-orange;
        }

        &.middle {
            background: $firefox-light-blue;
        }
    }

    [data-dependency] {
        padding-left: 10px;
    }
}
