#group-menu [role='dialog'][data-type='action'] {
    overflow-y: scroll;
}

.menu-list {
    position: absolute;
    top: 50px;

    display: block;

    width: 100%;
}

.menu-list__item {
    font-size: 1.6rem;

    padding: 15px;

    border-bottom: 1px solid $action-menu-border-grey;

    &:last-child {
        border-bottom: 0;
    }
}
