.x-main-current-account-info {
    min-height: 16px;
    margin: 0;
    padding: .5rem 0;

    text-align: center;

    color: $white;
    border-bottom: 1px solid $shadow-grey;
    background: $dark-grey;
}
