[data-position='right'] {
    position: absolute;
    z-index: 100; /* -> drawer */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: translateX(100%);
    
    &.current {
        animation: rightToCurrent .4s forwards;
    }

    &.right {
        animation: currentToRight .4s forwards;
    }
}

[role='region'][data-position='right'] {
    position: absolute;
}

[data-position='current'] {
    height: 100%;
    
    &.left {
        animation: currentToLeft .4s forwards;
    }

    &.current {
        animation: leftToCurrent .4s forwards;
    }
}


[data-position='back'] {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    /* z-index: 100; -> drawer */
    &.fade-in {
        z-index: 120;

        animation: fadeIn .2s forwards;
    }

    &.fade-out {
        animation: fadeOut .2s forwards;
    }
}


[data-position='edit-mode'] {
    position: absolute;
    z-index: -1;
    top: -5rem;
    right: 0;
    bottom: -7rem;
    left: 0;

    transition: all .3s ease;

    opacity: 0;
    
    &.edit {
        position: absolute;
        z-index: 120;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        opacity: 1;
    }
}
