.sidebar-navigation__icon
{
    width: 20px;

    vertical-align: middle;
}

.sidebar-navigation__icon,
.sidebar-navigation__text
{
    display: inline-block;
}

.sidebar-navigation__text
{
    text-align: left;
    text-indent: 10px;
}
