.couchdb-form {
    /* gaia overwrite */
    .pack-switch {
        height: 3rem;
    }

    .table {
        width: 100%;
    }

    .table-row {
        height: 5rem;
    }

    .table-cell:last-child {
        text-align: right;
    }
}

.no-groups-available-section {
    height: calc(100% - 15px);
    position: absolute;
    background-image: url("../../images/procrastination.png");
    background-size: contain;
    background-position: center 100%;
    background-repeat: no-repeat;
    padding-bottom: 0;

    /* alle the firefox os 30$ phones have a resolution of 320x460 */
    @media screen and (max-height: 460px) {
        background-size: 60% auto;
    }
}
