
$white: #fff;
$black: #000;


$dark-grey: #333;
$lighter-grey: #666;
$shadow-grey: #999;
$border-grey: #c7c7c7;
$subtitle-grey: #858585;
$background-grey: #f4f4f4;
$action-menu-border-grey: #616262;
$heading-grey: #868692;


/**
 * colors based on
 * https://www.mozilla.org/en-US/styleguide/identity/firefoxos/color/
 */

$blue-light: #00aac5;
$firefox-blue: #00539f;
$firefox-light-blue: #0095dd;
$firefox-light-orange: #ff9500;
$firefox-orange: #e66000;

$circle-button-shadow-black: #111;

.color-urgent,
.color-danger {
    color: red;
}

.color-height {
    color: $firefox-light-orange;
}

.color-middle {
    color: $firefox-light-blue;
}

.color-grey {
    color: $shadow-grey;
}