/* gaia overwrites & adaptions */

.index {
    height: 100%;
}

[role='dialog'][data-type='action'] {
    overflow-y: scroll;
    
    > header {
        padding: 0;

        .inline:first-child {
            margin: 0;
            padding-left: 3rem;
        }

        .inline:last-child {
            position: absolute;
            right: 1rem;
            left: auto;

            width: auto;
            padding: 0 1rem;

            border-left: 1px solid  $lighter-grey;
        }
    }

    > section {

        &.menu-content {
            padding-bottom: 60px;
        }

        &.position-bottom {
            bottom: 0;
            top: auto;
        }
    }
    
    menu > button {
        font-size: 1.9rem;
        font-weight: normal;
        line-height: 2.5rem;

        &:nth-last-child(2) {
            margin-bottom: 1rem;
        }
    }

}


[data-type="list"] aside {
    &.pack-end {
        height: 0;
        color: $shadow-grey;
        font-size: 18px;

        small {
            position: relative;
            top: -25px;
        }

    }

    img {
        width: 3rem;
        height: 3rem;
        margin-top: 1.5rem;
    }
}
// label.pack-checkbox input ~ span:after {
//     left: 10%;
//     right: 0;
// }

// label.pack-checkbox {
//         width: 3rem;
// }
